@mixin flex-center() {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@mixin button() {
    width: 140px;
    height: 35px;
    font-family: $mainfont;
    text-align: center;
    text-transform: uppercase;
    line-height: 35px;
    border: 2px solid black;
    letter-spacing: 3px;
    transition: all 200ms ease-in-out;
        &:hover {
            background: $accentcolor;
            color: white;
            cursor: pointer;
            border: 2px solid $accentcolor;
        }
}